/InternationalWaterWebApp/InternationalWaterWebApp/bin
/InternationalWaterWebApp/InternationalWaterWebApp/obj
/InternationalWaterWebApp/InternationalWaterWebApp.Library/bin
/InternationalWaterWebApp/InternationalWaterWebApp.Library/obj
/InternationalWaterWebApp/.vs/InternationalWaterWebApp/FileContentIndex
/InternationalWaterWebApp/.vs/InternationalWaterWebApp/DesignTimeBuild
/InternationalWaterWebApp/.vs
/InternationalWaterWebApp/InternationalWaterWebApp/Views/Common/MyFieldsDetails.cshtml
/Rusle2API/Rusle2API/bin
/Rusle2API/Rusle2API/obj
