@{
    ViewData["Title"] = "Advisor Plans";
}
<section class="GreyBG rounded-3 py-3">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-12 col-12">
                <div class="bg-white WelWayFindr br-10 p-3 mb-3">
                    <div class="Heading">
                        <h2>Advisor Plans</h2>
                    </div>
                    <div class="innerPgeHeading mb-4 d-flex justify-content-between">
                        <div class="row">
                            <p>@CommonMethods.GetEnumDescription(InternationalWaterWebApp.Library.ViewModel.ValidationMessages.NoDataFound)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>