@{
    ViewData["Title"] = "Improve Your Field Stewardship Rating";
}

<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
         aria-label="breadcrumb">
        <ol class="breadcrumb mt-4 mb-2">
            <li class="breadcrumb-item"><a href="/Common/Resources">Resources</a></li>
            <li class="breadcrumb-item active" aria-current="page">Improve your Field Stewardship Rating</li>
        </ol>
    </nav>
    <br />
    <div class="resources">
    <h4 for="ImproveyourFieldStewardshipRating" class="fw-8">Improve your Field Stewardship Rating</h4> <br />
    <p>
        There is no need to be alarmed if your field stewardship rating is lower than you expected. Relatively small changes in operation can increase your field stewardship rating. The table below shows how to increase your field stewardship rating.
    </p>
    <p>
        To improve your field stewardship rating, keep sediment and nutrients from becoming mobilized and trap sediment and nutrients within your field if they do become mobilized. Use best practices to manage and apply fertilizers based on soil testing results. Avoid applying fertilizers on sensitive soils or portions of the field where they become transported by moving surface waters.
    </p>
    <p>
        Increasing your stewardship rating is possible by reducing water erosion, retaining more soil on your field, and following accepted best practices for fertilizer use.  The retention of water within the soil profile can be increased by improving soil health, which creates pores within the soil for water movement.
    </p>
        <div class="overflow-auto">
    <table>
        <tr>
            <th class="imporveStewardshipheader-cell"><b>What</b></th>
            <th class="imporveStewardshipheader-cell"><b>Description</b></th>
            <th class ="imporveStewardshipheader-cell"><b># of Stewardship Indices Affected</b></th>
        </tr>
        <tr>
            <td class="imporveStewardshipthheader-cell"><b>Improve Soil Health</b></td>
            <td class="imporveStewardshipthheader-cell"><b>Increasing aggregate size improves infiltration and the retention of water and nutrients.</b></td>
            <td class="imporveStewardshipthheader-cell">
                <b>
                    1 directly All practically
                </b>
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipth">Protect The Soil Surface From Water Erosion</td>
            <td class="imporveStewardshipth">Use methods to keep soil from becoming detached from the land surface and mobilized.</td>
            <td class="imporveStewardshipth">5 soil <br/>
                    3 Water</td>
        </tr>
        <tr>
            <td class="imporveStewardshipth">Avoid Fallow Fields</td>
            <td class="imporveStewardshipth">Fallow fields are especially susceptible to soil detachment by water sheet and rill erosion because of a lack of protection from the falling precipitation and moving water,</td>
            <td class="imporveStewardshipth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipth">Tillage Method</td>
            <td class="imporveStewardshipth">Reduction in the amount of soil detached by water sheet and rill erosion can reach 50-100% for fall conventional (chisel plow) tillage versus clean tillage. <br/>
                Reduction in the amount of soil detached by water sheet and rill erosion can reach 100% for no-till compared to fall conventional tillage.
            </td>
            <td class="imporveStewardshipth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipth">Timing of Tillage</td>
            <td class="imporveStewardshipth">Reduction in the amount of soil detached by water sheet and rill erosion can reach 25% for spring conventional tillage compared to fall conventional tillage.</td>
            <td class="imporveStewardshipth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipth">Increasing Residue <br /> Following Harvest</td>
            <td class="imporveStewardshipth">Increasing the proportion of residue from 20 – 50% aerial coverage following harvest can reduce soil loss by two to three times</td>
            <td class="imporveStewardshipth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipth">Use cover crops</td>
            <td class="imporveStewardshipth">Cover crops provide additional protection to the soil surface following harvest and reduce soil detachment by water sheet and rill erosion by more than 20%</td>
            <td class="imporveStewardshipth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipRetainSoilth"><b>Retain Soil Within the <br /> Boundary of Your Field</b></td>
            <td class="imporveStewardshipRetainSoilth">
                <b>
                    Find methods to trap soil within the field boundary if it does become <br />
                    mobilized
                 </b>
            </td>
            <td class="imporveStewardshipRetainSoilth">
                <b>
                    3 Soil
                </b>
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipRetainSoilth">Install Structural <br /> Conservation Practices </td>
            <td class="imporveStewardshipRetainSoilth">Use filter strips, sediment and water control basins and other structural <br/>
                conservation practices to trap your topsoil if it becomes mobilized.
                </td>
            <td class="imporveStewardshipRetainSoilth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipRetainSoilth">Stabilize gullies</td>
            <td class="imporveStewardshipRetainSoilth">
                Stabilize areas where flowing water becomes concentrated to avoid <br/>
                formation of gullies which lead to soil erosion
            </td>
            <td class="imporveStewardshipRetainSoilth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipNutrientsth"><b>Retain Nutrients Within the <br /> Boundary of Your Field</b></td>
            <td class="imporveStewardshipNutrientsth">
                <b>
                    Use methods to retain nutrients within the soil profile and within the <br />
                    field boundary.
                </b>
            </td>
            <td class="imporveStewardshipNutrientsth">
                <b>
                   4
                </b>
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipNutrientsth">Install Structural <br /> Conservation Practices </td>
            <td class="imporveStewardshipNutrientsth">
                Use filter strips, sediment and water control basins and other <br />
                conservation practices to trap your topsoil
            </td>
            <td class="imporveStewardshipNutrientsth">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipthheader-cell"><b>Fertilizer management <br/> methods </b></td>
            <td class="imporveStewardshipthheader-cell"><b>Apply the right source of fertilizer at the right time, in the right <br /> place, and at the right source.</b></td>
            <td class="imporveStewardshipthheader-cell">
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipthheader-cell"></td>
            <td class="imporveStewardshipthheader-cell">Spring application of fertilizer can reduce nitrogen loss by 10-15%. <br /> <br /> Increase your 4R management practices to the next level (basic, intermediate advanced). <br /> <br /> Use your landowner information package to guide operational decisions, <br /> including areas with excessive soil loss and the presence of sensitive <br /> resources</td>
            <td class="imporveStewardshipthheader-cell"> 2
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipsoilNutrientsth"><b>Retain Soil and Nutrients <br /> before moving downstream </b></td>
            <td class="imporveStewardshipsoilNutrientsth"><b>Use methods to trap soil and nutrients after they leave the field.</b></td>
            <td class="imporveStewardshipsoilNutrientsth">2
            </td>
        </tr>
        <tr>
            <td class="imporveStewardshipsoilNutrientsth">Trap at edge of field</td>
            <td class="imporveStewardshipsoilNutrientsth">Find methods to trap soil at the field boundary or at the end of the <br /> drainage system if it does become mobilized</td>
            <td class="imporveStewardshipsoilNutrientsth">
                
            </td>
        </tr>
    </table>
        </div>
    </div>
</div>