@{
    ViewData["Title"] = "Interpreting your financial results";
}


<div class="container-fluid">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
         aria-label="breadcrumb">
        <ol class="breadcrumb mt-4 mb-2">
            <li class="breadcrumb-item"><a href="/Common/Resources">Resources</a></li>
            <li class="breadcrumb-item active" aria-current="page">Interpreting your financial results</li>
        </ol>
    </nav>
    <br />
    <div class="resources">
    <h4 for="Interpretingyourfinancialresults" class="fw-8">Interpreting your financial results</h4> <br />
    <p>
        The quality of your financial results depends upon the quality of the crop budget information you provided. The financial results are “best” when you provide actual direct and indirect expense data for each crop, actual field average yields, and the sale price for the crop. In the absence of actual data, average values for the period 2017 – 2022 for your operation came from the Farm Financial Management (FINBIN) Database  <a href="https://finbin.umn.edu/">(https://finbin.umn.edu/). </a>
    </p>
    <p>
        We developed and applied rules based on the FINBIN database to estimate the change in direct and indirect expenses for each field plan. For example, we adjusted your actual direct and indirect expenses by percentages based on crop and tillage system using the FINBIN database. We assumed not change in yield associated with new practices, such as using a cover crop.
    </p>
        <p>
            Net return break-even $ / unit  values equals the total production cost excluding financing divided by the unit yield per acre. The net return break-even unit yield /acre equals the total product cost divided by the commodity price. <br/>
            Repayment capacity break-even $ / unit value equals the total production cost including financing less the depreciation cost, divided by the unit yield per acre. The repayment capacity break even unit yield /acre equals the total product cost including financing less depreciation cost divided by commodity price.
            <br/>
            Net return equals total gross revenue minus the sum of direct and indirect costs.
        </p>
    </div>
</div>
