@{
    ViewBag.Title = "International Water";
    Layout = null; //"~/Views/Shared/_LayoutCommon.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png" />
    <link href="~/css/flash/responsive.css" rel="stylesheet" />
    <link href="~/css/splash.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link rel="icon" href="images/favicon.png" sizes="16x16" type="image/png">
    <title>Way Findr</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
@* <title>International Water</title>*@
</head>
<body>
    <header>
        <section class="top_line"></section>
    </header>
    <section class="MR_T_B">
        <div class="container">
            <div class="inner_wayfindr">
               
                <div class="logo_txt">
                    <div class="main_logo"><img src="images/logo_wayfindr.png" alt="images"></div>
                    <div class="inr_txt">
                        <div class="ligt_grn">Good for you.</div>
                        <div class="drk_grn">Good for all.</div>
                        <p>Leading the way to better farming + water<br> management practices to bring out your best.</p>
                    </div>

                    @*<div class="coming_soon">Coming Soon..</div>*@
                   
                        <h3 style="margin-left:38px;"><a href="/Login">login.</a></h3>

                    
                </div>
                <div class="way_imge">
                    <img src="images/farm-image.jpeg" alt="images">
                </div>
            </div>
        </div>
    </section>
  
</body>
</html>




