@{
    ViewData["Title"] = "Your Field Plans";
}


<div class="container-fluid">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
         aria-label="breadcrumb">
        <ol class="breadcrumb mt-4 mb-2">
            <li class="breadcrumb-item"><a href="/Common/Resources">Resources</a></li>
            <li class="breadcrumb-item active" aria-current="page">Your Field Plans</li>
        </ol>
    </nav>
    <br />
    <div class="resources">
    <h4 for="YourFieldPlans" class="fw-8">Your Field Plans</h4> <br />
    <p>
        You should be aware of certain assumptions made for the field plans, which may affect the results.  Some of these assumptions include:
       
    </p>
    <ul class="fieldPlansul">
        <li class="fieldPlansli">
            Yield changes associated with no-till compared to conventional till for a corn – soybean rotation. We have assumed:

              <ul>
                <li class="fieldPlans">Wheat: yield reduction from no change to 5%;</li>
                <li class="fieldPlans">Corn: yield reduction from no change to 10%;</li>
                <li class="fieldPlans">Soybeans: no yield change; and ;</li>
                <li class="fieldPlans">Rye cover crop: no yield change; and</li>
            </ul>
        </li>

        <li class="fieldPlansli">Additional surface drainage increases the proportion of sediment, which reaches the edge of the field.</li>
    </ul>
    <br/>
    <p>
        Planning level life cycle cost estimates for implementing conservation measures were developed and considered a cost when a component of a plan. The planning level life cycle costs included in this report represent the midpoint of the probable life cycle cost, which includes planning, design, construction and maintenance. The costs represent installation and construction by a contractor.  Actual construction costs vary widely.
    </p>
    </div>
</div>
