<!-- - - - - - - - - - - Common Modal Start - - - - - - -   -->
<div id="CommonModal" class="modal bgpopup-1">
    <!-- Modal content -->
    <div class="bg-light container modalContent mt-5">
        <div class="modalHeader">
            <h3 id="modalTitle p-3 pb-0" class="modal-title">Send Message to your Advisor</h3>
            <b class="modal-close"> X </b>
        </div>
        <div class="modalBody p-3">
            <div id="modalDescription"></div>
        </div>
        <div class="modal-footer mx-2">
            <button id="btnSubmitAddUserForm" type="button" class="btn bg-green">Send Message</button>
            <button type="button" class="btn btn-danger modal-close">Close</button>
        </div>
    </div>
</div>


<div id="printcropcertificationModal" class="bgpopup-1 modal">
    <!-- Modal content -->
    <div class="bg-light container modalContent mt-5">
        <div class="modalHeader  d-flex align-items-center justify-content-space-between">
            <h5 class="modalTitle p-3 pb-0" id="userModalLabel">Print Crop Certification</h5>
            <b class="modal-close"> X </b>
        </div>
        <div class="modalBody p-3">
            <div id="modalDescription"></div>
        </div>
        <div class="modal-footer mx-2">
            <button type="button" class="btn bg-green" id="printcropcertification">Print</button>
            <button type="button" class="btn btn-danger modal-close">Close</button>
        </div>
    </div>
</div>

<div id="viewzonefinancialsModal" class="bgpopup-1 modal">
    <!-- Modal content -->
    <div class="bg-light container modalContent mt-5">
        <div class="modalHeader  d-flex align-items-center justify-content-space-between">
            <h5 class="modalTitle p-3 pb-0" id="userModalLabel">View Zone Financials</h5>
            <b class="modal-close"> X </b>
        </div>
        <div class="modalBody p-3">
            <div id="modalDescription"></div>
        </div>
        <div class="modal-footer mx-2">
        </div>
    </div>
</div>

<div id="viewzonefarmModal" class="bgpopup-1 modal">
    <!-- Modal content -->
    <div class="bg-light container modalContent mt-5">
        <div class="modalHeader  d-flex align-items-center justify-content-space-between">
            <h5 class="modalTitle p-3 pb-0" id="userModalLabel">View Farm's </h5>
            <b class="modal-close" id="closeviewfarm"> X </b>
        </div>
        <div class="modalBody p-3">
            <div id="modalDescription"></div>
        </div>
        <div class="modal-footer mx-2">
        </div>
    </div>
</div>
@*<div id="soilindicies" class="modal">
    <!-- Modal content -->
    <div class="modalContent container mt-5 form-box">
        <div class="modalHeader  d-flex align-items-center justify-content-space-between">
            <h5 class="modalTitle p-3 pb-0" id="userModalLabel"> Soil Indicies</h5>
            <b class="modal-close"> X </b>
        </div>
        <div class="modalBody p-3">

            <div id="modalDescription">
                <label>Soil Water Erosion Benchmark Index (SoWaErBeIn)</label>
                  <canvas id="bubbleChart" style="height: 100px; min-width: 100%; max-width: 100%; margin: 0 auto"></canvas>

              <div id="bubbleChart" ><!-- Plotly chart will be drawn inside this DIV --></div>
                <div id="chart-container"></div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger modal-close">Close</button>
        </div>
    </div>
</div>*@